body {
	font-size: 15px;
	color: #808080;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 31px;
}
h3 {
	position: relative;
	font-size: 21px;
}
h3::after {
	content: "--";
	color: red;
	margin-left: 10px;
}
h1, h2, h3, h4, h5 {
	font-family: 'Oswald', Arial, sans-serif;
	color: #4d4d4d;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.btn {
	text-transform: uppercase;
	border-radius: 0;
}
.btn-primary {
	background-color: #ef5f60;
	border-color: transparent;
}
a {
	font-family: 'Oswald', Arial, sans-serif;
	color: #4d4d4d;
}
.navbar-collapse a {
	text-transform: uppercase;
}
.slogan {
	background: #f1f4f5;
	padding-top: 45px;
	padding-bottom: 64px;
}
.navbar-brand img {
 	width: 126px;
 	height: 45px;
 }
.galary-block img {
	margin-bottom: 30px;
	width: 100%;
}
.galary-hadding {
	padding-bottom: 10px;
}
.galary-hadding button {
	margin-top: 20px;
}
.portfolio h2 {
	margin-bottom: 30px;
}
.web_design {
	background-color: #f1f4f5;
	border-radius: 50%;
	height: 110px;
	width: 110px;
}
.web_design img {
	padding-top: 25px;
}
.services {
	margin-top: 30px;
	margin-bottom: 40px;
}
.motion_video {
	background-color: #f1f4f5;
	border-radius: 50%;
	height: 110px;
	width: 110px;
}
.motion_video img {
	padding-top: 24px;
}
.print_design {
	background-color: #f1f4f5;
	border-radius: 50%;
	height: 110px;
	width: 110px;
}
.print_design img {
	padding-top: 24px;
}
.illustration {
	background-color: #f1f4f5;
	border-radius: 50%;
	height: 110px;
	width: 110px;
}
.illustration img {
	padding-top: 24px;
}
.journal_list {
	margin-top: 30px;
	margin-bottom: 30px;
}
.journal_item {
	margin-bottom: 20px;
}
footer {
	padding: 50px 0;
	background-color: #2d2d30;
}